body {
    padding: 0;
    margin: 0;
    font-size: 13px;
    min-width: 320px;
    height: 100%;
    ul,
    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

.text-center {
    text-align: center;
}

#app {
    // border: 1px solid red;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    height: 100%;
}

.home {
    // border: 1px solid blue;
    height: 100%;
    >.index {
        // border: 1px solid blue;
        ul.nav {
            // border: 1px solid red;
            margin: 0 45px;
            >li {
                // border: 12px solid red;
                width: 25%;
                float: left;
                margin-bottom: 15px;
                >img {
                    width: 60px;
                    height: 60px;
                    border-radius: 8px;
                    border: 1px solid #eee;
                }
                >div {
                    margin-top: 1px;
                }
            }
        }
        .footer {
            position: absolute;
            bottom: 10px;
            width: 100%;
            color: #ccc;
        }
    }
    .search {
        img.logo {
            margin: 15px auto 15px;
            max-width: 130px;
        } // .searchOne{
        //     // border: 1px solid red;
        // }
    }
    .inputRight {
        .mint-field-core {
            text-align: right;
            padding-right: 8px;
        }
    }
}

.scrollList {
    position: absolute;
    left: 0;
    top: 40px;
    right: 0;
    bottom: 0; // border:1px solid red;
    overflow: auto;
    >li {
        // border: 1px solid blue;
        font-size: 15px;
        padding: 12px 15px;
        border-bottom: 1px solid #eee;
    }
}

img.logo {
    // border: 1px solid red;
    margin: 15px auto 15px;
    max-width: 100px;
}

.navbar {
    // border: 2px solid red;
    border-bottom: 3px solid #f9f9f9;
    .mint-tab-item-label {
        font-size: 15px;
    }
}

.search {
    // border: 1px solid red;
    .tabContent {
        // border: 1px solid red;
        margin-top: 30px;
        min-height: 260px;
        position: relative;
        .text-center {
            // margin-top: 30px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            .mint-button {
                width: 100px;
                margin: 0 10px;
            }
        }
    }
}

.tableWrap {
    margin: 0 10px;
    >table {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
    }
    >table.hasBorder {
        td {
            border: 1px solid #eee;
            padding: 8px 10px;
            &:first-child {
                color: #666;
            }
        }
    }
    >table.noBorder {
        // border: 1px solid blue;
        tr {
            border-top: 1px solid #f9f9f9;
            &:first-child {
                border-top: none;
            }
        }
        td {
            padding: 8px 10px;
            .listPic {
                width: 88px;
                height: 88px;
                border-radius: 4px;
            }
            .noPic {
                // border: 1px solid red;
                height: 88px;
                line-height: 88px;
                border-radius: 4px;
                background-color: #f9f9f9;
                width: 88px;
                color: #999;
            }
            &:first-child {
                color: #666;
            }
        }
    }
    >table.detailOnly {
        // border: 1px solid red;
        caption {
            margin: 0 30px 6px 0;
            >span {
                // background: red;
                float: left;
                width: 50%;
                img {
                    width: 122px;
                    height: 122px;
                    border-radius: 4px;
                }
            }
        }
        tr {
            td {
                padding: 8px 0;
                word-wrap: break-word;
                &:first-child {
                    color: #666;
                }
            }
        }
    }
}

.getMore {
    // border: 2px solid red;
    height: 33px;
    line-height: 33px;
    position: relative;
    .noMore {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
    }
}